<section class="chat-container">
  <div id="online-chat" class="chat">
  </div>
  <div id="user-typing" class="typing"></div>
  <form id="form-chat">
    <input
      type="text"
      name="username"
      id="input-chat-username"
      class="input"
      placeholder="Nombre de usuario"
      autocomplete="off"
      required
    />
    <input
      type="text"
      name="message"
      id="input-chat-message"
      class="input"
      placeholder="Escribe tu mensaje"
      autocomplete="off"
      required
    />
    <input
      type="submit"
      value="Enviar"
      class="submit disabled"
      id="chat-submit"
    />
  </form>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>