<main>
  <section>
    <h1>Iniciar sesión</h1>
    <form method="post" action="http://localhost:8080/api/sessions/login">
      <input type="email" name="email" placeholder="email" required />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required
      />
      <input type="submit" value="Iniciar sesión" />
    </form>

    <div>
      <span>
        ¿No tienes un usuario?
        <a href="http://localhost:8080/register"> Registrate!</a>
      </span>
      <span>
        <a href="http://localhost:8080/api/sessions/github">Inicia sesión con
          Github</a>
      </span>
    </div>

  </section>
  <script src="/js/index.js"></script>
</main>