<main>
  <h1>Bienvenido, {{name}}</h1>
  <div>
    <h2>Tus datos de perfil:</h2>
    <ul>
      <li>Nombre: <strong>{{name}}</strong></li>
      <li>Email: <strong>{{email}}</strong></li>
    </ul>
  </div>

  <div>La página <strong>products</strong> se encuentra en construcción!</div>
</main>