<main>
  <h1>Bienvenido, {{firstName}} {{lastName}}</h1>
  <div>
    <h2>Tus datos de perfil:</h2>
    <ul>
      <li>Email: <strong>{{email}}</strong></li>
      <li>Tel: <strong>{{tel}}</strong></li>
    </ul>
  </div>
  <form method="post" action="http://localhost:8080/api/sessions/logout">
    <input type="submit" value="Salir de sesión" />
  </form>

  <div>La página <strong>products</strong> se encuentra en construcción!</div>
</main>