<h1>Chat</h1>

<form id="test-form" method="post">
  <input
    type="text"
    name="username"
    id="username"
    placeholder="Nombre de usuario"
    required
  />
  <input
    type="text"
    name="message"
    id="message"
    placeholder="Escribe tu mensaje"
    required
  />
  <input type="submit" value="Enviar" />
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>