<main>
  <section>
    <h1>Registrarse</h1>
    <form method="post" action="http://localhost:8080/api/sessions/register">
      <input type="text" name="firstName" placeholder="Nombre" required />
      <input type="text" name="lastName" placeholder="Apellido" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="number" name="age" placeholder="Edad" required />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required
      />
      <input type="submit" value="Registrarse" />
    </form>
  </section>
</main>